@import "../global/config";

// Products Section
.products-section {
	width: $default-width;
	margin: 0 auto;
	display: flex;
}

// Products Showcase
.products-showcase {
	flex: 3;
}

.products-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.products-item {
	display: flex;
	flex-direction: column;
	background-color: #fff;
}

// Filter Container
.filter-container {
	flex: 1;
}
