// ====================== Imports ======================
@import "./global/config";

// ====================== Slideshow ======================
.slider {
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

// Slides
.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: $default-transition;

	.content {
		position: absolute;
		top: 40%;
		left: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
		color: $text-color;
		opacity: 0;
	}

	.slide-img {
		width: 250px;
	}

	.slide-title {
		@include text-styling;
		margin-bottom: 1rem;
		font-weight: 700;
		font-size: $h1-size + 2rem;
	}

	.slide-subtitle {
		font-size: $h2-size;
	}
}

.slide.current {
	opacity: 1;
}

.slide.current .content {
	opacity: 1;
	transition: $default-transition;
}

// Buttons
.buttons > * {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.button {
	padding: 1.25rem 1.75rem;
	border: 2px solid #fff;
	border-radius: 50%;
	color: #fff;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

.button:hover {
	background-color: #fff;
	color: #333;
}

#next {
	right: 2rem;
}

#prev {
	left: 2rem;
}

// Dots
.dots {
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	transform: translate(-50%, 0);

	.dot {
		margin: 0 1rem;
		padding: 0.5rem 1rem;
		border-radius: 50%;
		background-color: #333;
	}

	.active {
		background-color: $text-color;
	}
}

// ====================== Coffee Build ======================
.coffee_build_section {
	height: 100%;
	width: 100vw;
	margin-bottom: 5rem;
}

.coffee_build_inner_container {
	width: 1300px;
	margin: 0 auto;

	// Heading
	.coffee_build_heading_container {
		margin: 10rem 0;
		text-align: center;
	}

	.coffee_build_heading_container > * {
		margin: 3rem 0;
	}

	.coffee_build_title {
		font-size: $h2-size + 0.5rem;
		font-weight: 700;
		text-transform: uppercase;
		color: $text-color-inverse;
	}

	.coffee_build_subtitle {
		font-size: $h3-size;
		color: $text-primary-color;
	}

	.coffee_build_text_underline {
		width: 150px;
		margin: 0 auto;
		border: 1px solid #c7a17a;
	}

	// Grid Layout
	.coffee_build_grid_container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 2rem;
	}

	.coffee_build_grid_item {
		display: flex;
		flex-direction: column;
	}

	.coffee_build_text_wrap > * {
		margin: 1rem 0;
	}

	.coffee_build_item_title {
		font-size: $h2-size;
		text-transform: capitalize;
		color: $text-color-inverse;
	}

	.coffee_build_item_desc {
		font-size: $paragraph-size;
		color: $text-secondary-color;
	}

	.coffee_build_item_link {
		@include link-styling;
	}

	.coffee_build_item_link:hover .link-icon {
		transform: translateX(10px);
	}
}

// ====================== Home Menu ======================
.home-menu-section {
	height: 100%;
	width: 100vw;
}

.home-menu-overlay {
	height: 100%;
	width: 100%;
	position: relative;
	background-color: rgba($color: #000000, $alpha: 0.75);
	z-index: 999;

	// Heading
	.home-menu-text-wrap {
		text-align: center;
		padding: 7.5rem 0;
	}

	.home-menu-title {
		@include text-styling;
		margin-top: 1rem;
		font-size: $h2-size + 1rem;
		color: $text-color;
	}

	// Buttons
	.menu-buttons-wrap {
		width: $default-width;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		margin-bottom: 7.5rem;
		text-align: center;
	}

	.menu-btn {
		margin: 1rem 2rem;
		padding: 1rem 3rem;
		font-size: $default-link-size;
		border: 2px solid $text-color;
		border-radius: 20px;
		text-transform: capitalize;
		color: $text-color;
		background-color: transparent;
		outline: none;
		cursor: pointer;
	}

	.menu-btn:hover {
		color: $text-color-inverse;
		background-color: $text-color;
		transition: all 0.25s ease-in-out;
	}

	// Grid Section
	.home-menu-grid-container {
		width: $default-width;
		margin: 0 auto;
		padding-bottom: 7.5rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 4rem;
		row-gap: 2rem;
	}

	.menu-item {
		display: flex;
	}

	.menu-img-wrap {
		flex: 2;
	}

	.menu-item-desc-wrap {
		flex: 10;
		margin: 0 1rem;
	}

	.menu-item-price-wrap {
		flex: 1;
	}

	.menu-item-title {
		font-size: $h3-size;
		text-transform: uppercase;
		color: $text-color;
	}

	.menu-item-desc {
		font-size: $paragraph-size;
		font-weight: 400;
		color: $text-primary-color;
	}

	.menu-item-price {
		font-size: $h4-size;
		color: $text-color;
	}
}

// ====================== Carousel ======================
.carousel-section {
	width: 100vw;
	margin: 5rem 0;
}

.carousel-inner {
	width: $default-width;
	margin: 0 auto;
	display: flex;

	// Text section
	.carousel-text-container {
		flex: 1;
		min-height: 450px;
		display: flex;
		align-items: center;
		background-color: $text-primary-color;
	}

	.carousel-text-inner-container {
		width: 70%;
		margin-left: 4rem;
	}

	.carousel-title {
		margin-bottom: 3rem;
		font-size: $h2-size + 0.5rem;
		font-weight: 700;
		text-transform: uppercase;
		color: $text-color;
	}

	.carousel-paragraph {
		margin-bottom: 7.5rem;
		font-size: $paragraph-size + 0.25rem;
		line-height: 1.5;
		color: $text-color;
	}

	.carousel-link {
		font-size: $default-link-size;
		font-weight: 700;
		text-transform: uppercase;
		color: $text-color;
		transition: $default-transition;
	}

	.carousel-link:hover i {
		transform: translateX(10px);
	}

	// Images section
	.carousel-slider {
		flex: 1;
		min-height: 450px;
		position: relative;
	}

	.carousel-slide {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: $default-transition;
	}

	.carousel-slide.current {
		opacity: 1;
	}
}

@import "./home_responsive";
