.nav {
	width: 100vw;
	position: fixed;
	background-color: rgba($color: #000000, $alpha: 0.5);
}

.nav-inner {
	max-width: 90%;
	margin: 0 auto;
	padding: 1rem 0;
}

.nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.nav-title {
		@include text-styling;
		font-size: $h2-size;
		color: $text-color;
	}

	.nav-toggle {
		font-size: 2.5rem;
		border: none;
		color: #fff;
		background-color: transparent;
		outline: none;
		cursor: pointer;
	}
}

.links-container {
	height: 0;
	overflow: hidden;
	transition: $default-transition;

	.links {
		padding: 0.5rem 0;
	}

	.nav-li {
		text-align: center;
	}

	.nav-a {
		@include text-styling;
		display: block;
		padding: 1rem 0;
		font-size: $nav-link-size;
		color: #fff;
	}
}

@media screen and (min-width: 824px) {
	.nav-inner {
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.nav-header {
		padding: 0;
	}

	.nav-toggle {
		display: none;
	}

	.links-container {
		height: auto !important;
	}

	.links-container .links {
		display: flex;
		padding: 0;
	}

	.links-container .nav-li {
		margin: 0 1.25rem;
	}
}
